<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6pwD1kxLvZDQk5_BpOObbd6kfMA7DSsE</string>
	<key>GCM_SENDER_ID</key>
	<string>691172671698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secmarket.app.secmarket</string>
	<key>PROJECT_ID</key>
	<string>beta-bildirim</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-bildirim.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691172671698:ios:58068bbb22619611626d0b</string>
</dict>
</plist>